
/* ----- LowerCase Thin ----- */

@font-face {
    font-family: RalewayThin;
    src: url('../fonts/Raleway-Regular.ttf');
}

/* ----- LowerCase Thin ----- */


/*? ----- UpperCase Thin ----- */

@font-face {
    font-family: YsabeauSCThin;
    src: url('../fonts/YsabeauSC-Medium.ttf');
}

/* ----- UpperCase Thin ----- */